header{
    height: 2cm;
    border-bottom: 2px solid #ad0303;
    
}

.header_buttons_grid{
    margin-left: 2%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.header_buttons{
    text-align: center;
    border-right: 2px solid #ad0303;
    transition: .2s;
    cursor: pointer;
}

.header_buttons:hover{
    border-right: 3px solid #ad0303;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    header{
        height: 1.5cm;
    }

    .header_buttons_grid{
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: .8em;
    }
    .header_buttons{
        height: 1.5cm;
    }
}